<div class="container">
  <button type="button" ng-click="getNewQuestion">NEW Q</button>
  <div class="row">
    <div class="player-box">
      <div ng-repeat="player in allPlayers" class="player-info">
        <p class="player-name">{{ player.username }}</p>
        <p class="player-points">{{ player.score }}</p>
      </div>
    </div>
  </div>

  <div class="judge-board board">
    <p class="lyrics">
      {{currentQuestion.shownLyric}}
    </p>
    <div class="row">
      <div class="submissions">
        <div ng-repeat="choice in currentQuestion.choices">
          <button class="guess-submissions btn btn-warning">{{choice.lyric}}</button>
        </div>
      </div>
    </div>
  </div>

  <div class="question-board board">
    <p class="lyrics">
      Say it ain't so <br/>
      Your drug is a heartbreaker <br/>
      Say it ain't so <br/>
      My love is a ...
    </p>
  </div>

  <div class="guess-choices board">
    <div class="row">
      <div class="col-xs-6 guesses">
        <button class="guess btn btn-warning">life taker</button>
      </div>
      <div class="col-xs-6 guesses">
        <button class="guess btn btn-warning">wide wicker</button>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 guesses">
        <button class="guess btn btn-warning">high taker</button>
      </div>
      <div class="col-xs-6 guesses">
        <button class="guess btn btn-warning">high saker</button>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 guesses">
        <p>OR</p>
        <button class="trick btn btn-danger">Trick the judge</button>
        <input id="trickJudge" style="display: none;"/>
        <button type="submit" style="display: none;">Submit</button>
      </div>
    </div>
  </div>
</div>
<!--  
<script type="text/javascript">
$(function() {
    $('.trick').on('click', function() {
    	$('#trickJudge').show();
    });
});


</script>
-->